<div ng-if="!details">
	<p>loading results...</p>
</div>
<div class="row" ng-if="details.Response === 'True'">
<div  class="col-md-6">
	<h1>{{details.Title}}</h1>
	<img ng-src="{{ details.Poster=='N/A' ? 'http://placehold.it/150x220&text=N/A' : details.Poster }}" class="img-thumbnail">
</div>
  <div class="col-md-6">
  	<h2>Information</h2>
  	<p>Year: {{details.Year}}</p>
  	<p>Genery: {{details.Genre}}</p>
  	<p>Actors: {{details.Actors}}</p>
  	<p>Description: {{details.Plot}}</p>

    <div ng-include="'partials/relate-results.html'"></div>
  </div>
</div>

<div ng-if="details.Response==='False'">
	<p>There is not movies</p>
</div>